@font-face {
    font-family: 'Norican';
    src: url(../fonts/Norican.otf);
    src: url(../fonts/Norican-Regular.ttf) format("truetype");
}

h1.title {
    font-family: 'Norican';
}

h4.title {
    font-family: 'Norican';
    color: white;
}

.footer {
    display: none;
}

@media (min-height: 400px) and (min-width: 340px) {
    .footer {
        display: block;
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 60px;
        line-height: 60px;
        background-color: #373a3c !important;
    }
}

.hero {
    display: none;
}

@media (min-height: 640px) {
    .hero {
        display: block !important;
    }
}

@media (min-width: 820px) {
    .hero-img {
        width: 15%;
    }
}

@media (min-width: 1200px) {
    .hero-img {
        width: 175px;
    }
}
